src/ServiceManagement/Compute/Commands.ServiceManagement/Extensions/ADDomain/ADPublicSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PublicConfig">
    <xs:complexType>
      <xs:all>
        <xs:element name="Name" type="xs:string" minOccurs="1"/>
        <xs:element name="User" type="xs:string" minOccurs="0"/>
        <xs:element name="Options" type="xs:unsignedInt" default="0" minOccurs="0"/>
        <xs:element name="OUPath" type="xs:string" minOccurs="0"/>
        <xs:element name="UnjoinDomainUser" type="xs:string" minOccurs="0"/>
        <xs:element name="Restart" type="xs:boolean" default="false" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>