src/ServiceManagement/StorSimple/Commands.StorSimple/Helpers/Migration/XmlSchema/Configuration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StorSimple.Appliance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StorSimple.Appliance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AlertSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Enabled" type="xs:boolean" />
        <xs:element name="Id" type="xs:string" />
        <xs:element name="Name" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>