src/ServiceManagement/StorSimple/Commands.StorSimple/Helpers/Migration/XmlSchema/Configuration6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StorSimple.Appliance.Datapath.Support" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StorSimple.Appliance.Datapath.Support" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CloudConfigurationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Alias" type="xs:string" />
        <xs:element name="BackupBucket">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CredentialId" type="xs:string" />
              <xs:element name="FingerprintDirectory" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BackupBucketCapacity" type="xs:unsignedByte" />
        <xs:element name="CollectStatistics" type="xs:boolean" />
        <xs:element name="CompressionAlgorithm" type="xs:unsignedByte" minOccurs="0"/>
        <xs:element name="EncryptionKey" type="xs:string" />
        <xs:element name="Id" type="xs:string" />
        <xs:element name="MaximumThroughputInBytes" type="xs:unsignedByte" />
        <xs:element name="ParkingLotCredentialId" nillable="true" />
        <xs:element name="PrimaryBucket">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CredentialId" type="xs:string" />
              <xs:element name="FingerprintDirectory" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PrimaryBucketCapacity" type="xs:unsignedByte" />
        <xs:element name="PrimaryCredentialId" type="xs:string" />
        <xs:element name="QosTemplateId" type="xs:string" />
        <xs:element name="RecoveryBuckets" nillable="true" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloudCredentialInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Alias" type="xs:string" />
        <xs:element name="AltPassword" type="xs:string" />
        <xs:element name="GoogleAuthToken" type="xs:string" />
        <xs:element name="GoogleProjectId" type="xs:string" />
        <xs:element name="GoogleRefreshToken" type="xs:string" />
        <xs:element name="GoogleStorageUrl" type="xs:string" />
        <xs:element name="Hostname" type="xs:string" />
        <xs:element name="Id" type="xs:string" />
        <xs:element name="Location" type="xs:string" />
        <xs:element name="Login" type="xs:string" />
        <xs:element name="NirvanixAppKey" type="xs:string" minOccurs="0" />
        <xs:element name="NirvanixAppName" type="xs:string" minOccurs="0" />
        <xs:element name="Password" type="xs:string" />
        <xs:element name="Provider" type="xs:string" />
        <xs:element name="SSL" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs= "0" maxOccurs="unbounded" name="HostInterface">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Address" type="xs:string" />
                    <xs:element name="IpV4" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CloudEnabled" type="xs:boolean" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Dhcp" type="xs:boolean" />
              <xs:element name="Duplex" type="xs:string" />
              <xs:element name="Enabled" type="xs:boolean" />
              <xs:element name="Gateway">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Address" type="xs:string" />
                    <xs:element name="IpV4" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IScsiEnabled" type="xs:boolean" />
              <xs:element name="Id" type="xs:string" />
              <xs:element name="Mask">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Address" type="xs:string" />
                    <xs:element name="IpV4" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Speed" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Domain" type="xs:string" />
        <xs:element name="Name" type="xs:string" />
        <xs:element name="NameServers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q1:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProxyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Address" type="xs:string" />
              <xs:element name="IpV4" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AuthenticationType" type="xs:string" />
        <xs:element name="Enabled" type="xs:boolean" />
        <xs:element name="Password" type="xs:string" />
        <xs:element name="Port" type="xs:unsignedByte" />
        <xs:element name="Username" type="xs:string" />
        <xs:element name="ValidationUrl" nillable="true" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SNMPInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Community" type="xs:string" />
        <xs:element name="Contact" type="xs:string" />
        <xs:element name="EnableAuthTraps" type="xs:boolean" />
        <xs:element name="EnableInterfaceTraps" type="xs:boolean" />
        <xs:element name="Inform" type="xs:string" />
        <xs:element name="Location" type="xs:string" />
        <xs:element name="ROCommunity" type="xs:string" />
        <xs:element name="ROUser" type="xs:string" />
        <xs:element name="RWCommunity" type="xs:string" />
        <xs:element name="RWUser" type="xs:string" />
        <xs:element name="Receiver" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HttpDisabled" type="xs:boolean" />
        <xs:element name="SshDisabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CurrentTime" type="xs:dateTime" />
        <xs:element name="TimeServers">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q2:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimeZoneInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DaylightSavings" type="xs:boolean" />
              <xs:element name="HourOffset" type="xs:unsignedByte" />
              <xs:element name="Id" nillable="true" minOccurs="0"/>
              <xs:element name="MinuteOffset" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Id" nillable="true" />
  <xs:element name="Name" type="xs:string" />
  <xs:element name="Password" type="xs:string" />
  <xs:element name="Valid" type="xs:boolean" />
  <xs:element name="Community" type="xs:string" />
  <xs:element name="Contact" type="xs:string" />
  <xs:element name="EnableAuthTraps" type="xs:boolean" />
  <xs:element name="EnableInterfaceTraps" type="xs:boolean" />
  <xs:element name="Inform" type="xs:string" />
  <xs:element name="Location" type="xs:string" />
  <xs:element name="ROCommunity" type="xs:string" />
  <xs:element name="ROUser" type="xs:string" />
  <xs:element name="RWCommunity" type="xs:string" />
  <xs:element name="RWUser" type="xs:string" />
  <xs:element name="Receiver" type="xs:string" />
  <xs:element name="Volume">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AccessControlList">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="VolumeAce">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AccessControlGroupId" type="xs:string" />
                    <xs:element name="AssignedLunId" type="xs:byte" />
                    <xs:element name="PreferredLunId" type="xs:byte" />
                    <xs:element name="Valid" type="xs:boolean" />
                    <xs:element name="VolumeId" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Alias" type="xs:string" />
        <xs:element name="ApplicationHint" type="xs:unsignedByte" />
        <xs:element name="Attr" type="xs:string" />
        <xs:element name="BlockCount" type="xs:unsignedLong" />
        <xs:element name="ChunkSize" type="xs:string" />
        <xs:element name="CloudId" type="xs:string" />
        <xs:element name="CollectStatistics" type="xs:boolean" />
        <xs:element name="Id" type="xs:string" />
        <xs:element name="Online" type="xs:boolean" />
        <xs:element name="ParentId" type="xs:string" />
        <xs:element name="Priority" type="xs:string" />
        <xs:element name="Purpose" type="xs:string" />
        <xs:element name="SerialNumber" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>